{% extends "base.html" %}
{% block title %}Dashboard | Schedule System{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-text">
        <h2>Welcome, {{ user.username }}!</h2>
        <p>Access your scheduling tools and account options below.</p>
    </div>

    <div class="dashboard-container">

        <div class="dashboard-card">
            <h3>View My Schedule</h3>
            <p>Check your upcoming shifts and work schedule.</p>
            <a href="{% url 'main:view_schedule' %}" class="btn">View Schedule</a>
        </div>

        <div class="dashboard-card">
            <h3>Requests</h3>
            <p>Manage your requests for time off</p>
            <a href="{% url 'main:request_time_off' %}" class="btn">Request Time Off</a>
        </div>

        <div class="dashboard-card">
            <h3>Swap Shift</h3>
            <p>Request to trade a shift with another employee.</p>
            <a href="{% url 'main:swap_shift' %}" class="btn">Swap Shift</a>
        </div>

        {% if user.account_type in admin_roles %}
            <div class="dashboard-card">
                <h3>Manager</h3>
                <p>Edit shifts, generate schedules, edit employee options.</p>
                <a href="{% url 'main:manager' %}" class="btn">View</a>
            </div>
        {% endif %}

        <div class="dashboard-card">
            <h3>Options</h3>
            <p>Account settings and logout options.</p>
            <a href="{% url 'main:account_settings' %}" class="btn">Account Settings</a>

            <form method="post" action="{% url 'main:logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn logout-btn" style="margin-top: 10px;">
                    Logout
                </button>
            </form>
        </div>
    </div>


    <table class="notif-table">
        <thead>
            <tr>
                <th colspan="2">Notifications</th>
            </tr>
        </thead>
        <tbody>
            {% for notif in notifications %}
            <tr>
                <td class="notif-date">{{ notif.date|date:"M d, Y H:i" }}</td>
                <td class="notif-text">{{ notif.notif_text }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2" class="no-notif">No notifications found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</section>
{% endblock %}
