body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  margin: 0;
  background-color: #f5f6fa;
  color: #333;
}

header {
  background: #2c3e50;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
}

.logo-container{
  display: flex;
  flex-direction: row;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.hero {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    gap: 1rem;             
    padding: 2rem;
}

.hero h2 {
  text-align: center;
}

.logo-img {
  height: 50px;
  width: auto;
  margin-right: 15px;
  vertical-align: middle;
}

.hero-text {
  max-width: 500px;
}

.login-form {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem; 
}

.login-form h3 {
  margin-bottom: 1rem;
  margin-top: 0.2rem;
  text-align: center;
}

.login-form p {
  text-align: center;
}

.login-form label {
  display: block;
  margin: 0.1rem 0 0.25rem;
  font-weight: 600;
}

.login-form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-form button {
  width: 100%;
  padding: 0.6rem 1rem; 
  background: #2c3e50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 0.3rem;
  box-sizing: border-box; 
}

.login-form button:hover {
  background: #34495e;
}

footer {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 1rem;
}
