{% extends "base.html" %}
{% block title %}Dashboard | Schedule System{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-text">
        <div class="intro-card">
            <h2>Welcome, {{ user.username }}!</h2>
            <h3> Please enter your first and last name. </h3>
            <form class="login-form" method="post">
                {% csrf_token %}

                <label for="firstname">First name</label>
                <input type="text" name="firstname" id="firstname" placeholder="Joe" required>

                <label for="lastname">Last name</label>
                <input type="lastname" name="lastname" id="lastname" placeholder="Smith" required>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
