{% extends "base.html" %}
{% block title %}Schedule | Schedule System{% endblock %}

{% block content %}
<section class="hero">
    <div class="schedule-container">
        <div class="schedule-card">

            <form method="post" class="availability-form">
                {% csrf_token %}
                <table class="shift-table">
                    <tr>
                        <th>Availability</th>
                        <th>Start</th>
                        <th>End</th>
                    </tr>

                    <tr>
                        <td>Sunday</td>
                        <td><input type="time" name="sunday-start" id="sunday-end" value="{{ sunday.start}}"></input></td>
                        <td><input type="time" name="sunday-end" id="sunday-end" value="{{ sunday.end}}"></input></td>
                    </tr>

                    <tr>
                        <td>Monday</td>
                        <td><input type="time" name="monday-start" id="monday-end" value="{{ monday.start}}"></input></td>
                        <td><input type="time" name="monday-end" id="monday-end" value="{{ monday.end}}"></input></td>
                    </tr>

                    <tr>
                        <td>Tuesday</td>
                        <td><input type="time" name="tuesday-start" id="tuesday-end" value="{{ tuesday.start}}"></input></td>
                        <td><input type="time" name="tuesday-end" id="tuesday-end" value="{{ tuesday.end}}"></input></td>
                    </tr>

                    <tr>
                        <td>Wednesday</td>
                        <td><input type="time" name="wednesday-start" id="wednesday-end" value="{{ wednesday.start}}"></input></td>
                        <td><input type="time" name="wednesday-end" id="wednesday-end" value="{{ wednesday.end}}"></input></td>
                    </tr>

                    <tr>
                        <td>Thursday</td>
                        <td><input type="time" name="thursday-start" id="thursday-end" value="{{ thursday.start}}"></input></td>
                        <td><input type="time" name="thursday-end" id="thursday-end" value="{{ thursday.end}}"></input></td>
                    </tr>

                    <tr>
                        <td>Friday</td>
                        <td><input type="time" name="friday-start" id="friday-end" value="{{ friday.start}}"></input></td>
                        <td><input type="time" name="friday-end" id="friday-end" value="{{ friday.end}}"></input></td>
                    </tr>

                    <tr>
                        <td>Saturday</td>
                        <td><input type="time" name="saturday-start" id="saturday-end" value="{{ saturday.start}}"></input></td>
                        <td><input type="time" name="saturday-end" id="saturday-end" value="{{ saturday.end}}"></input></td>
                    </tr>
                </table>

                <button type="submit">Submit Changes</button>
            </form>
        </div>

        <div class="calendar-card">
            <div class="calendar-nav">
                <a href="?month={{ prev_month }}&year={{ prev_year }}">
                    <button class="calendar-swap-nav">&#8592; Previous</button>
                </a>
                <a href="?month={{ next_month }}&year={{ next_year }}">
                    <button class="calendar-swap-nav">Next &#8594;</button>
                </a>
            </div>

            <div class="calendar">
                {{ calendar|safe }}
            </div>
        </div>
    </div>
</section>
{% endblock %}