{% extends "base.html" %}
{% block title %}Swap | Schedule System{% endblock %}

{% block content %}
<section class="hero">
        <div class="schedule-container">
            <a href="?month={{ prev_month }}&year={{ prev_year }}">
                <button class="swap-nav">&#8592; Previous</button>
            </a>

            <div>
                <h2>Select a shift to swap</h2>
                <table class="shift-table">
                    <tr>
                        <th>Date</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Role</th>
                        <th></th>
                    </tr>
                    {% for shift in shifts %}
                    <tr>
                        <td>{{ shift.date }}</td>
                        <td>{{ shift.start_time }}</td>
                        <td>{{ shift.end_time }}</td>
                        <td>{{ shift.role }}</td>
                        <td>
                            <button>
                                Edit
                            </button>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">No shifts assigned.</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <a href="?month={{ next_month }}&year={{ next_year }}">
                <button class="swap-nav">Next &#8594;</button>
            </a>
        </div>
</section>
{% endblock %}