{% extends "base.html" %}
{% block title %}Timeoff | Schedule System{% endblock %}

{% block content %}
<section class="hero">
    <div class="schedule-container">

        <div class="schedule-card">
            <form method="post">
                {% csrf_token %}
                <label for="start_time">Start time</label>
                <input id="start_time" name="start_time" type="datetime-local">
                <label for="end_time">End time</label>
                <input id="end_time" name="end_time" type="datetime-local">
                <select name="type">
                    {% for type in request_types %}
                        <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Request timeoff</button>

                {% if success %}
                    <p> Successfully entered time off </p>
                {% endif %}
            </form>
        </div>

        <div class="calendar-card">
            <h2>Calendar View</h2>

            <div class="calendar-nav">
                <a href="?month={{ prev_month }}&year={{ prev_year }}">
                    <button>&#8592; Previous</button>
                </a>
                <a href="?month={{ next_month }}&year={{ next_year }}">
                    <button>Next &#8594;</button>
                </a>
            </div>

            <div class="calendar">
                {{ calendar|safe }}
            </div>
        </div>
    </div>
</section>
{% endblock %}